@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Aleo', serif;
    box-sizing: border-box;
}

header {
    background-color: #D9D9D9;
    height: 100px;
    width: 100%;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-conteiner {
    display: flex;
    gap: 69px;
    margin-left: auto;
    margin-right: 35px;
}


.scrolltop {
    outline: none;
    border: 0;
    background-color: white;
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.06);
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.scrolltop.active {
    opacity: 1;
    visibility: visible;
}

button {
    border: none;
    cursor: pointer;
    background-color: #D9D9D9;
    padding: 25px 10px;
    border-bottom: 2px solid black;
    transition-duration: 0.2ms;
    font-size: 15px
}

button:hover {
    background-color: #aca9a9;
    border: none;
    border-bottom: 2px solid black;
}

.content-principal {
    position: relative;
    max-width: 100%;
}

.content-principal h1 {
    position: absolute;
    bottom: 70%;
    left: 20%;
    color: #ffffff;
    font-size: 45px;
}

.content-principal p {
    position: absolute;
    bottom: 40%;
    left: 20%;
    color: #ffffff;
    font-size: 30px;

}

.botão-vermelho {
    background-color: #BD1C1C;
    border: 1px solid #BD1C1C;
    color: #ffffff;
    border-radius: 45px;
    font-size: 30px;
    position: absolute;
    bottom: 15%;
    left: 20%;
    transition: 0.2ms;
}

.botão-vermelho:hover {
    background-color: #c20e0ed7;

}

.content-service {
    text-align: center;
}

.content-service h2 {
    text-align: center;
    margin: 25px 0px;
    font-size: 30px;
}

.serviços {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 50px;
    padding: 20px;
}

#botão-vermelho2 {
    background-color: #BD1C1C;
    border: 1px solid #BD1C1C;
    color: #ffffff;
    border-radius: 45px;
    font-size: 30px;
    margin: 25px 0px;
    transition-duration: 0.2ms;
}

#botão-vermelho2:hover {
    border: none;
    background-color: #b82121b9;
}

.marcas {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

.conteiner-marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px; 
    flex-wrap: wrap;
}

.conteiner-marcas img {
    max-height: 100px;
    margin: 10px; 
}

.conteiner-vantagens{
    text-align: center;
    margin: 10px;
}

.vantagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 20px;
}

.footer {
    background-color: #D9D9D9;
    color: #000000;
    padding: 20px 0;
    text-align: left;
    font-family: 'Aleo', serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 30px
    ;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px 20px;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section p, .footer-section ul, .footer-section a {
    margin: 10px 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #000000;
    text-decoration: none;
}

.footer-section .social-icons a {
    margin-right: 10px;
}

.footer-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

.footer-logo img {
    max-height: 100px;
}

.footer-bottom {
    color: #000000;
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
}

.btn-about {
    color: #FF0000;
    text-decoration: none;
}



